#Enviroment files
*.env
venv
!*example.env

# PyCharm
.idea/

#VS Code
.vscode/

# Docker volumes
volumes/

# NGINX
nginx/*
!nginx/server.conf

#
whisper.pickle
frontend/
ml/
tg_bot/
