{$DOMAIN} {

	handle /api/* {
		reverse_proxy backend:8000
	}
	handle /api_ml/* {
		reverse_proxy ml:8080
	}
	handle {
		root * /srv
		encode gzip
		try_files {path} /index.html
		file_server
	}
	handle_errors {
		respond "{err.status_code} {err.status_text}"
	}
}
