/*INPUT*/
.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.inputContainer label {
    font-size: 0.88rem;
    color: #000;
}

.inputContainer .required {
    color: #b12725;
}

.inputBlock {
    min-width: 20em;
    display: flex;
    align-items: center;

    border: 2px solid #b3b3b3;
    border-radius: 0.7em;

    padding: 1em;
    cursor: text;
    background: #fff;
    overflow: hidden;
}

.selectBlock,
.selectBlock input {
    cursor: pointer;
}

.inputBlock input {
    background: white;
    font-weight: 400;
    font-size: 0.88rem;
    color: #737373;
    width: 100%;
}

.invalid {

}

.inputBlock:has(input.invalid) {
    border: 2px solid #b12725;
}

.inputBlock .buttonIcon,
.inputBlock .buttonIcon img {
    width: 1.5em;
    height: 1.5em;
}

.requiredFiledMessage {
    display: none;
}

.inputBlock:has(input.invalid) ~ .requiredFiledMessage {
    display: block;
    font-size: 0.88rem;
    color: #b12725;
    margin-top: 0.28em;
    text-align: end;
}

/*SELECT*/
.inputBlock .dropdownButton {
    /*margin-right: 1.5em;*/
}

.inputBlock .dropdownButton,
.inputBlock .dropdownButton img {
    width: 1em;
    height: 1em;
}

.inputBlock.selectBlockOpen {
    width: fit-content;
    display: grid;
    grid-template-columns: 100fr 1fr;
}

.dropdown {
    display: flex;
    flex-direction: column;
    gap: 0.75em;

    grid-column: span 2;
    font-size: 0.88rem;
    color: #737373;
    margin-top: 0.85em;
    z-index: 10000;
}

.dropdown button {
    width: 100%;
    text-align: start;
}

.dropdownButton .dropdownIconUp {
    transform: rotate(180deg);
}

@media screen and (max-width: 551px) {
    .inputBlock input {
        font-size: 0.75rem;
    }
}