.headerContainer {
    padding: 1em 0;
    background: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    width: 10.62em;
    height: 4em;
    cursor: pointer;
}

.user {
    display: flex;
    gap: 1.25em;
    align-items: center;
    justify-content: center;
}

.user p {
    font-weight: 600;
    font-size: 1rem;
    color: #000;
}

.user button img {
    width: 1.5em;
    aspect-ratio: 1/1;
    height: 1.5em;
}

@media screen and (max-width: 551px) {
    .header {
        padding: 0 1em 0 0;
    }

    .header img {
        width: 8.5em;
        height: 3.19em;
    }

    .user p {
        font-size: 0.75rem;
    }

    .header img.isOnlyLogo {
        width: 13.62em;
        height: 5.12em;
    }
}